*.DS_Store
*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
aopalliance
asm
ch
com
commons-codec
commons-io
io
jakarta
javax
net
orgs